/* Requires
   globals.css */
/* Standard Forms ---------------------- */
/* line 6, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form {
  margin: 0 0 19.416px;
}

/* line 8, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.row form .row {
  margin: 0 -6px;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.row form .row .column, .row form .row .columns {
  padding: 0 6px;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.row form .row.collapse {
  margin: 0;
}
/* line 13, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.row form .row.collapse .column, .row form .row.collapse .columns {
  padding: 0;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
label {
  font-size: 14px;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 3px;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
label.right {
  float: none;
  text-align: right;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
label.inline {
  line-height: 32px;
  margin: 0 0 12px 0;
}

@media only screen and (max-width: 767px) {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  label.right {
    text-align: left;
  }
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.prefix, .postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  line-height: 31px;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
a.button.prefix, a.button.postfix {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
span.prefix, span.postfix {
  background: #f2f2f2;
  border: 1px solid #cccccc;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.prefix {
  left: 2px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.postfix {
  right: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 34, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  margin: 0 0 12px 0;
  padding: 6px;
  height: 32px;
  width: 100%;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize {
  font-size: 18px !important;
  font-size: 1.8rem !important;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: #fafafa;
  outline: none !important;
  border-color: #b3b3b3;
}
/* line 39, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
  background-color: #ddd;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
textarea {
  height: auto;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
select {
  width: 100%;
}

/* Fieldsets */
/* line 47, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
fieldset {
  border: solid 1px #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 12px 12px 0;
  margin: 18px 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 3px;
  margin: 0 0 0 -3px;
}

/* Errors */
/* line 53, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.error input, input.error {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.error label, label.error {
  color: #c60f13;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.error small, small.error {
  display: block;
  padding: 6px 4px;
  margin-top: -13px;
  margin-bottom: 12px;
  background: #c60f13;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

@media only screen and (max-width: 767px) {
  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].one, textarea.one {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].two, textarea.two {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].three, textarea.three {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].four, textarea.four {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].five, textarea.five {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].six, textarea.six {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].seven, textarea.seven {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].eight, textarea.eight {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].nine, textarea.nine {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].ten, textarea.ten {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].eleven, textarea.eleven {
    width: 100% !important;
  }

  /* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  input[type="text"].twelve, textarea.twelve {
    width: 100% !important;
  }
}
/* Custom Forms ---------------------- */
/* line 65, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom {
  /* Custom input, disabled */
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom span.custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  border: solid 1px #ccc;
  background: #fff;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom span.custom.radio {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 71, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom span.custom.checkbox:before {
  content: "\00d7";
  display: block;
  line-height: 0.8;
  height: 14px;
  width: 14px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  /* margin-top: -9px; margin-left: -4px; */
  font-size: 14px;
  color: #fff;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom span.custom.radio.checked:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background: #222;
  position: relative;
  top: 3px;
  left: 3px;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom span.custom.checkbox.checked:before {
  color: #222;
}
/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown {
  display: block;
  position: relative;
  width: auto;
  height: 28px;
  margin-bottom: 9px;
  margin-top: 2px;
}
/* line 82, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown a.current {
  display: block;
  width: auto;
  line-height: 26px;
  min-height: 28px;
  padding: 0 38px 0 6px;
  border: solid 1px #ddd;
  color: #141414;
  background-color: #fff;
  white-space: nowrap;
}
/* line 83, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown a.selector {
  position: absolute;
  width: 27px;
  height: 28px;
  display: block;
  right: 0;
  top: 0;
  border: solid 1px #ddd;
}
/* line 84, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown a.selector:after {
  content: "";
  display: block;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #aaaaaa transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -2px;
  margin-left: -5px;
}
/* line 87, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown:hover a.selector:after, form.custom div.custom.dropdown.open a.selector:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #222222 transparent transparent transparent;
}
/* line 90, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.open ul {
  display: block;
  z-index: 10;
}
/* line 92, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.small {
  width: 134px !important;
}
/* line 93, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.medium {
  width: 254px !important;
}
/* line 94, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.large {
  width: 434px !important;
}
/* line 95, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.expand {
  width: 100% !important;
}
/* line 97, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.open.small ul {
  width: 134px !important;
}
/* line 98, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.open.medium ul {
  width: 254px !important;
}
/* line 99, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.open.large ul {
  width: 434px !important;
}
/* line 100, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown.open.expand ul {
  width: 100% !important;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul {
  position: absolute;
  width: auto;
  display: none;
  margin: 0;
  left: 0;
  top: 27px;
  margin: 0;
  padding: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  border: solid 1px #cccccc;
}
/* line 105, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li {
  color: #555;
  font-size: 13px;
  cursor: pointer;
  padding: 3px 38px 3px 6px;
  min-height: 18px;
  line-height: 18px;
  margin: 0;
  white-space: nowrap;
  list-style: none;
}
/* line 106, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li.selected {
  background: #cdebf5;
  color: #000;
}
/* line 107, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li.selected:after {
  content: "\2013";
  position: absolute;
  right: 10px;
}
/* line 109, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li:hover {
  background-color: #e3f4f9;
  color: #222;
}
/* line 110, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li:hover:after {
  content: "\2013";
  position: absolute;
  right: 10px;
  color: #8ed3e7;
}
/* line 112, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li.selected:hover {
  background: #cdebf5;
  cursor: default;
  color: #000;
}
/* line 113, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul li.selected:hover:after {
  color: #000;
}
/* line 115, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom div.custom.dropdown ul.show {
  display: block;
}
/* line 119, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
form.custom .custom.disabled {
  background-color: #ddd;
}

/* Correct FF custom dropdown height */
@-moz-document url-prefix() {
  /* line 124, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
  form.custom div.custom.dropdown a.selector {
    height: 30px;
  }
}

/* line 126, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.5/stylesheets/foundation/forms.scss */
.lt-ie9 form.custom div.custom.dropdown a.selector {
  height: 30px;
}
